﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Images/Logo.ico" type="image/x-icon" rel="shortcut icon" />
    <title>@ViewBag.Title</title>

    @* Inicio Estilos *@

    <link href="~/Styles/Bootstrap/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Styles/FontAwesome/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Styles/SweetAlert/sweetalert2.min.css" rel="stylesheet" />

    <link href="~/Styles/Select2/select2.css" rel="stylesheet" />
    <link href="~/Styles/Select2/select2-bootstrap.css" rel="stylesheet" />

    <link href="~/Content/DateTimePicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />

    <link href="~/Styles/Propios/Propios.css" rel="stylesheet" />

    @* Fin Estilos *@

</head>
<body>

    @* Inicio Navbar *@
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img class="img-rounded" style="width: 168px; margin-top: -15px;" src="~/Content/Images/Logo_Akhins.png" /></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>*@
                </ul>
                <form class="navbar-form navbar-left">
                    @*<div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>*@
                </form>
                <ul class="nav navbar-nav navbar-right">
                    @*<li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>*@
                </ul>
            </div>
        </div>
    </nav>
    @* Fin Navbar *@

    @* Inicio Logo Cliente *@
    <div class="hidden-xs">
        <img class="img-rounded" style="margin-top: -20px; position: absolute; right: 35px;" src="~/Content/Images/Logo_Cliente.png" />
    </div>
    @* Fin Logo Cliente *@

    <div style="margin-top: 60px;">
        @RenderBody()
    </div>

    @* Inicio Footer *@
    <div class="text-center">
        
        <hr />
        <img class="img-rounded" style="width: 200px; margin-top: -15px;" src="~/Content/Images/Logo_Akhins.png" />
        <br />
        <br />
        <b style="font-size: 20px; margin-bottom: 20px;">Información de Contacto</b>
        <br />
        <i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp;felipe.ocampo@akhins.com
        <br />
        <i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;jfocampob@gmail.com
        <br />
        <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;313 740 9864
        <br />
        <br />
        <span class="text-muted">&copy;&nbsp;Akhins SAS <span id="footerYear"></span> | Todos los derechos reservados</span>

    </div>
    @* Fin Footer *@

    @* Inicio Scripts *@

    <script src="~/Scripts/jQuery/jquery-3.1.1.min.js"></script>

    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>

    <script src="~/Scripts/Knockout/knockout-3.4.1.js"></script>

    <script src="~/Scripts/SweetAlert/sweetalert2.min.js"></script>

    <script src="~/Scripts/Select2/select2.min.js"></script>
    <script src="~/Scripts/Select2/select2_locale_es.js"></script>

    <script src="~/Scripts/Moment/moment.min.js"></script>

    <script src="~/Scripts/Propias/FuncionesGenerales.js"></script>
    <script src="~/Scripts/Moment/moment-with-locales.min.js"></script>
    <script src="~/Scripts/DateTimePicker/bootstrap-datetimepicker.min.js"></script>

    @RenderSection("MyScripts", required: false)

    <script>
        $(document).ready(function () {

            var Year = new Date();

            $("#footerYear").text(Year.getFullYear());
        });
    </script>

    @* Fin Scripts *@

</body>
</html>
