﻿
@{
    ViewBag.Title = "Consultas";
    Layout = "~/Views/Shared/_Maestra.cshtml";
}

<div class="container" style="width: 98%">

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center text-muted">
            <h2 style="margin-top: 0px;"><i class="fa fa-th" aria-hidden="true"></i>&nbsp;&nbsp;Consultas</h2><br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="panel panel-default" style="margin-top: 10px;">
                <div class="panel-body">
                    <div class="tab-content">

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Tipo Equipo <b class="required">*</b></label>
                                    <select class="Select2 form-control" data-bind="options: aTipoEquipos, optionsText: 'NOM', optionsValue: 'COD', optionsCaption: 'Seleccione', value: TipoEquipo, event: { change: ConsutarEquipos }"></select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Equipo <b class="required">*</b></label>
                                    <select id="ddlEquipo" class="Select2 form-control" data-bind="options: aEquipos, optionsText: 'NOM', optionsValue: 'COD', optionsCaption: 'Seleccione', value: Equipo, event: { change: ConsutarVariablesEquipo }" "></select>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Variables <b class="required">*</b></label>
                                    <select id="ddlVariable" class="Select2 form-control" data-bind="options: aVariables, optionsText: 'NOM', optionsValue: 'COD', optionsCaption: 'Seleccione', value: Variable"></select>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Inicial <b class="required">*</b></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Fecha" id="txtFechaIni" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Hora Inicial <b class="required">*</b></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Fecha" id="txtHoraIni" />
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Final <b class="required">*</b></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Fecha" id="txtFechaFin" />
                                        <span class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Hora Final <b class="required">*</b></label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Fecha" id="txtHoraFin" />
                                        <span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-1 col-md-offset-2 col-md-1 col-sm-1 col-xs-3">
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary" data-bind="click: AbrirModalLimites"><i class="fa fa-cog" aria-hidden="true"></i></button>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-5 col-xs-9">
                                <div class="form-group">
                                    <button class="btn btn-block btn-success" data-bind="click: function(){ SWZoom(false); ConsultarHistTempVol(); }"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Agregar</button>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <button class="btn btn-block btn-default" data-bind="click: LimpiarForm"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Limpiar</button>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <button class="btn btn-block btn-info" data-bind="click: ExportarDatos"><i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;&nbsp;Exportar</button>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
                            </div>

                            @* Solo para el tipo CAVAS *@
                            <div class="col-lg-offset-5 col-lg-2 col-md-offset-5 col-md-2 col-sm-12 col-xs-12" data-bind="visible: TipoEquipo() == 6 && Equipo() && Variable()">
                                    <div class="form-group">
                                        <button class="btn btn-block btn-warning" data-bind="click: GenerarPDFAuditoria"><i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;Generar Reporte</button>
                                    </div>
                                </div>
                            </div>

                            <div class="row" data-bind="visible: !SWGrafico()">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                                    <div class="jumbotron text-center" style="margin-top: 35px;">
                                        <h3>No se han encontrado registros</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row" data-bind="visible: SWGrafico()">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                    <div class="text-center" data-bind="visible: SWZoom()">
                                        <h3 class="text-muted" data-bind="text: MsjZoom"></h3>
                                        <button class="btn btn-primary" data-bind="click: function(){ SWZoom(false); ConsultarHistTempVol(); }"><i class="fa fa-search-minus" aria-hidden="true"></i>&nbsp;&nbsp;Regresar a Selección Inicial</button>
                                    </div>

                                    <div id="PlotContainer" class="plot-container img-responsive">
                                        <div id="PlotPlaceholder" class="plot-placeholder"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="row" data-bind="visible: aProcesos().length > 0 && SWGrafico()">
                                <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-12 col-xs-12">
                                    <table class="table table-condensed table-hover">
                                        <thead>
                                            <tr>
                                                <th>Proceso</th>
                                                <th>Fecha Inicial</th>
                                                <th>Fecha Final</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody data-bind="foreach: aProcesos">
                                            <tr>
                                                <td data-bind="text: Desc"></td>
                                                <td data-bind="text: FIF"></td>
                                                <td data-bind="text: FFF"></td>
                                                <td><button class="btn btn-sm btn-default" data-bind="click: $root.CrearSeccion"><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;&nbsp;Ver en Gráfico</button></td>
                                                <td><button class="btn btn-sm btn-primary" data-bind="click: $root.ZoomGraficoProceso, visible: $root.aProcesos().length > 1"><i class="fa fa-search-plus" aria-hidden="true"></i>&nbsp;&nbsp;Aumentar</button></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                </div>
            </div>

        </div>
    </div>

</div>

@* Inicio Modals *@

@* Modal Rangos *@
<div id="modalRangos" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-arrows-v" aria-hidden="true"></i>&nbsp;&nbsp;Límite <span data-bind="visible: Opcion() == 1">Temperatura</span><span data-bind="visible: Opcion() == 2">Volumen</span></h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label><i class="fa fa-chevron-up" aria-hidden="true"></i>&nbsp;Límite Superior</label>
                            <input type="text" class="form-control SoloNumeros" placeholder="Límite Superior" data-bind="value: LimiteSup" />
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label><i class="fa fa-chevron-down" aria-hidden="true"></i>&nbsp;Límite Inferior</label>
                            <input type="text" class="form-control SoloNumeros" placeholder="Límite Inferior" data-bind="value: LimiteInf" />
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="btn btn-block btn-default" data-bind="click: LimpiarLimiteTemp"><i class="fa fa-eraser" aria-hidden="true"></i>&nbsp;&nbsp;Limpiar</button>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar&nbsp;&nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>
@* Modal Rangos *@

@* Fin Modals *@

@section MyScripts{
    <script src="~/Scripts/ViewModels/Reporting/Consultas.js?v=6"></script>

    <script src="~/scripts/flot/jquery.flot.min.js"></script>
    <script src="~/scripts/flot/jquery.flot.resize.min.js"></script>
    <script src="~/scripts/flot/jquery.flot.time.min.js"></script>
    <script src="~/scripts/flot/jquery.flot.selection.min.js"></script>
}

